{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "importOrder": [
    "reflect-metadata",
    "^node:(.*)$",
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@src/(.*)$",
    "^@tests/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["classProperties", "typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
